<%= form_with(model: forheroku, local: true) do |form| %>
  <% if forheroku.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(forheroku.errors.count, "error") %> prohibited this forheroku from being saved:</h2>

      <ul>
        <% forheroku.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :textitem__c %>
    <%= form.text_field :textitem__c %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
